.uni-loading {
  padding: 10upx 0;
  text-align: center;
  font-size: 30upx;
  color: gray;
}

.uni-list {
  background-color: #f0f0f0;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.uni-list:after {
  position: absolute;
  z-index: 10;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
  content: '';
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  background-color: #c8c7cc;
}

.uni-list::before {
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0;
  left: 0;
  height: 1px;
  content: '';
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  background-color: #c8c7cc;
}

.uni-list-cell {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rpx;
  background-color: white;
}

.uni-list-cell-hover {
  background-color: #eee;
}

.uni-list-cell::after {
  position: absolute;
  z-index: 3;
  right: 0;
  bottom: 0;
  left: 30upx;
  height: 1px;
  content: '';
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  background-color: #c8c7cc;
}

.uni-list .uni-list-cell:last-child::after {
  height: 0upx;
}

/* 图文列表 */
.uni-media-list {
  padding: 22upx 30upx;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  flex-direction: row;
}

.uni-navigate-right.uni-media-list {
  padding-right: 74upx;
}

.uni-pull-right {
  flex-direction: row-reverse;
}

.uni-pull-right > .uni-media-list-logo {
  margin-right: 0upx;
  margin-left: 20upx;
}

.uni-media-list-logo image {
  height: 100%;
  width: 100%;
}

.uni-media-list-text-bottom {
  margin-top: 10px;
  width: 100%;
  line-height: 30upx;
  font-size: 23upx;
  color: #8f8f94;
}

.uni-media-list-logo {
  float: left;
	max-width: 40px;
	height: 40px;
	margin-right: 20rpx;
	margin-bottom: 10rpx;
}

.uni-media-list-body {
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;
  height: auto;
}

.uni-media-list-text-top {
  width: 100%;
  margin-bottom: 10px;
  line-height: 40upx;
  font-size: 30upx;
  overflow: hidden;
}

.uni-media-list-text-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.uni-media-list-text-center {
  font-size: 25upx;
  color: gray;
  word-break: break-all;
	flex-direction: row;
}

.icon {
  display: flex;
  flex-direction: row;

  & > text {
    margin-left: 3px;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}
.uni-tab {
  position: sticky;
  top: 0;
  z-index: 10;
  background: white;
}

.uni-tab-item {
  /* #ifndef APP-PLUS */
  display: inline-block;
  /* #endif */
  flex-wrap: nowrap;
  padding-left: 34rpx;
  padding-right: 34rpx;
}

.uni-tab-item-title {
  // color: #555;
  font-size: 30rpx;
  height: 80rpx;
  line-height: 80rpx;
  flex-wrap: nowrap;
  /* #ifndef APP-PLUS */
  white-space: nowrap;
  /* #endif */
}

.uni-tab-item-active {
  color: #0053a1;
	background-color: #d7e8f9;
}
